h1 {
  color: blue;
}
.green {
  display: block;
  width: 200px;
  height: 200px;
  background-color: blue;
}
.red {
  display: inline;
  width: 200px;
  height: 200px;
  background-color: aqua;
}
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 200px 200px;
  gap: 30px;
}

.first {
  grid-column: span 2;
}

.card {
  background-color: coral;
}


/* table */
table {
    width: 100%;
}

td {
    border: 10px solid white;
    padding: 10px;
    background-color: cornflowerblue;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 25%;
}

.col3 {
    width: 50%;
}

/* media queries */

@media (min-width: 360px) and (max-width: 760px) {
    body {
        background-color: darkmagenta;
    }    
}

@media (min-width: 761px) and (max-width: 1200px) {
    body {
        background-color: darkgray;
    }
}